@{
    ViewData["Title"] = "Cadastro";
}

<body class="align-middle">
    <div class=" d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-12">
            <form >

                <h1 class="text-center">Cadastrar Aluno</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o nome">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCPF">CPF</label>
                        <input type="number" class="form-control" id="inputCPF" placeholder="Digite o CPF">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Data de nascimento</label>
                        <input type="date" class="form-control" id="inputDate" placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputSexo">Sexo</label>
                        <select id="inputSexo" class="form-control">
                            <option selected>Sexo </option>
                            <option>Masculino</option>
                            <option>Feminino</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEstado">Estado</label>
                        <select id="inputEstado" class="form-control">
                            <option selected>Estado </option>
                            <option></option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputCidade">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade">
                    </div>

                </div>

                <div class="d-grid gap-2 d-md-block ">

                    <a type="button" class="btn btn-fixed-width dev-bg-color-musgo text-white" asp-controller="Administrador" asp-action="SalvarCadastro">  Salvar  </a>
                    <a type="button" class="btn btn-fixed-width btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</body>
