@model EM.Domain.Cidade

@{
    ViewData["Title"] = "Página de Relatórios";
}

<h2>Página de Relatório</h2>

<br />

<form action="@Url.Action("GerarPDF", "Reports")" method="get">
    <div class="form-row">
        <div class="form-group col-md-4 ">
            <label for="ordem">Ordenações</label>
            <select id="ordem" name="Ordem" class="form-control">
                <option value="">Selecione opção de ordenação</option>
                <option value="Nome">Nome</option>
                <option value="Nascimento">Data de Nascimento</option>
                <option value="Cidade">Cidade</option>
                <option value="UF">Estado</option>
            </select>
        </div>
    </div>
    <br />

    <div class="form-group row">
        <div class="col">
            <div class="btn-group btn-group-toggle mr-3 " data-toggle="buttons">
                <label class="btn btn-primary active">

                    <input type="radio" name="orientacao" id="retrato" value="retrato" checked> Retrato
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="orientacao" id="paisagem" value="paisagem"> Paisagem
                </label>
            </div>
        </div>
        <div class="col">
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="estiloFundo" id="zebrado" autocomplete="off" value="zebrado" checked> Zebrado
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="estiloFundo" id="padrao" autocomplete="off" value="padrao"> Padrão
                </label>
            </div>
        </div>
    </div>

    <br />
    <br />

    <button type="submit" class="btn btn-primary">Gerar Relatório em PDF</button>
</form>
